@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cornsilk;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: transparent;
  margin: 10px;
  padding: 15px;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  margin: 20px;
}

.timer-container h1 {
  text-align: center;
}

.controls span {
  font-size: 40px;
  margin: 0 10px;
  width: 50px;
}

.clock-container {
  text-align: center;
}

.clock-container h1 {
  margin: 0;
}

.clock-container span {
  font-size: 60px;
}
